# **Data Collection Notebook**

## Objectives

+ Fetch data from [Kaggle](https://www.kaggle.com/) and save it as raw data.
+ Inspect and save the data under outputs/datasets/collection.

## Inputs

+ Authentication token from Kaggle (JSON file).
+ Kaggle dataset: Loan Default Dataset.

## Outputs

+ 

---

## Change working directory

Change working directory from the current one to the parent folder.

In [ ]:
import os
current_dir = os.getcwd() # get current directory
current_dir

To make the parent directory the current directory, we must use `os.path.dirname()` to get the parent, and `os.chir()` to redefine.

In [ ]:
os.chdir(os.path.dirname(current_dir)) # change directory to parent directory
print("The directory you are in is:", os.getcwd()) # print current directory

Confirm the new current directory.

In [ ]:
current_dir = os.getcwd() # get current directory
current_dir

## Fetch the data from Kaggle

First install Kaggle package.

In [ ]:
%pip install kaggle

+ An account must be registered on Kaggle to obtain an API Key in the format of a JSON file.

+ To authenticate with the Kaggle API, set the environment variable `KAGGLE_CONFIG_DIR` to the current working directory. It is necessary to modify its permissions to read§write for the owner, using `chmod 600` to restrict access and protect sensitive credentials.

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

+ The dataset used in this project is [Loan Default Dataset](https://www.kaggle.com/datasets/yasserh/loan-default-dataset/data).

+ The dataset path is `yasserh/loan-default-dataset/data`.

+ Define the Kaggle dataset and destination folder and download it to the folder (inputs/datasets/raw).

In [ ]:
KaggleDatasetPath = "yasserh/loan-default-dataset"
DestinationFolder = "inputs/datasets/raw"   
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Unzip the downloaded file, delete the zip and the kaggle.json file.

In [7]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
  && rm {DestinationFolder}/*.zip \
  && rm kaggle.json

Archive:  inputs/datasets/raw/loan-default-dataset.zip
  inflating: inputs/datasets/raw/Loan_Default.csv

---

## Load and Inspect the data

Using pandas library, the dataset can be loaded as a dataframe so the data can be inspected.

In [9]:
import pandas as pd

df = pd.read_csv("inputs/datasets/raw/Loan_Default.csv")
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

A dataframe summary can be obtained.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

+ From the summary we can see that there are missing values in the dataframe, as the column "Non-null" have different values for different features. 

+ We create and print a list with the columns that contain missing values.

In [15]:
columns_with_nan = df.columns[df.isnull().any()].to_list()
columns_with_nan

['loan_limit',
 'approv_in_adv',
 'loan_purpose',
 'rate_of_interest',
 'Interest_rate_spread',
 'Upfront_charges',
 'term',
 'Neg_ammortization',
 'property_value',
 'income',
 'age',
 'submission_of_application',
 'LTV',
 'dtir1']

+ As the dataset contains an ID column, we must check for duplicates.

In [17]:
df[df.duplicated(subset=["ID"])]

Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

+ The status variable is already numerical, meaning there is no need for changing.

In [ ]:
# will I need to convert any columns to a different data type?
# will I need to rename any columns?

# Save the data set

In [18]:
try:
  os.makedirs(name='outputs/datasets/collection') # create outputs/datasets/collection folder
except Exception as e:
  print(e)

df.to_csv(f"outputs/datasets/collection/LoanDefault.csv",index=False)

# Conclusion

+ The dataset was download successfully.
+ The dataset was inspected and there is no duplicates in the ID columns but there are many columns with missing values that will be handled in another notebook.
+ No need for data type changing.
+ The dataset was saved in the outputs directory.